:root {
  --color-bg-main: var(--dark-dx-dark-black);
  --color-card-bg: var(--dark-dx-dark-default);
  --color-text-01: var(--dark-white);
  --color-text-02: var(--dark-grey);
  --color-text-03: var(--dark-white);
  --color-text-04: var(--color-blue-light);

  --color-btn-01: var(--color-blue-light);
  --color-btn-text-01: var(--color-blue-black);
  --color-btn-02: var(--dark-grey);
  --color-btn-text-02: var(--color-blue-light);
  --color-btn-03: var(--dark-black);
  --color-btn-text-03: var(--dark-dx-dark-default);
  --color-btn-pulse: var(--dark-blue-dark);
}