.container-frame {
    /* background: var(--dark-white); */
    border: 1px solid var(--color-border);
    border-radius: 12px;
    outline: none;
    box-shadow: -6px -6px 14px var(--color-light-shadow),
        -6px -6px 10px var(--color-light-shadow),
        6px 6px 8px var(--color-dark-shadow),
        6px 6px 10px var(--color-dark-shadow);
}