@import 'default.css';
body {
  font-family: Proxima Nova, monospace !important;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg-main);
}

.btn-toggle {
  margin: 25px;
  align-self: center;
  border: 1px var(--color-text-03) solid;
  border-radius: 8px;
  padding: 4px 25px;
  width: 180px;
  background-color: var(--color-btn-01);
  font-size: 16px;
  font-weight: 700;
  color: var(--color-btn-text-01);
}

.container {
  display: flex;
  justify-content: center;
  gap: 100px;
  width: 100%;
  flex-wrap: wrap;
  padding: 50px;
}

.test-card-large {
  transition: all 0.1s ease-in;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
  padding: 16px;
  width: 432px;
  height: 432px;
  border: 1px solid var(--dark-grey);
  border-radius: 35px;
  box-shadow: 0px 2px 4px 0px var(--dark-black-light-opacity);
  background-color: var(--color-card-bg);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: var(--color-text-01);
}

.light-subtitle {
  color: var(--color-text-03);
  font-size: 14px;
  font-weight: 400;
  margin-top: -4px;
  text-align: center;
}

.subtitle {
  color: var(--color-text-03);
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}
.subtitle-dark {
  color: var(--dark-white);
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.container-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: var(--height-description);
}

.header__title {
  color: var(var(--color-text-01));
  font-size: 30px;
  font-weight: 700;
  overflow: hidden;
  position: relative;
}
.header__description {
  transition: all 0.1s ease-in;
  margin-top: -8px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  width: 300px;
  height: 120px;
}

.icon {
  align-self: flex-end;
}

.info {
  display: flex;
  justify-content: space-between;
}
.info__question-number, .info__finish-data {
  color: var(--color-text-04);
  font-weight: 700;
  font-size: 16px;
}
.info__question, .info__finish {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}
.info__text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  width: 80%;
}

.container-right {
  height: var(--height-description);
  display: flex;
  width: 10%;
  flex-direction: column;
  flex: auto;
  margin-left: 10px;
  justify-content: space-between;
  align-items: center;
}

.status-container {
  opacity: 0;
  height: 50%;
  background-image: url("../img/status_img.svg");
  background-repeat: no-repeat;
  background-position: top center;
  animation: percent-opacity 1.5s ease-out forwards;
  animation-delay: 0.5s;
}
.status__percent {
  padding-top: 36px;
  padding-bottom: 6px;
  color: var(--color-green);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.status__points {
  text-align: center;
}

.bar {
  background-color: var(--color-green);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  animation: grow 1.5s ease-out forwards;
  transform-origin: bottom;
}
.bar-container {
  background-color: var(--color-grey);
  border: 1px var(--dark-grey) solid;
  border-radius: 2px;
  top: 0%;
  width: 10px;
  height: 50%;
  transform: translateY(0%);
}
@keyframes grow {
  from {
    transform: scaleY(0);
  }
}
@keyframes percent-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex: 100%;
  transition: all 0.1s ease-in;
  margin-top: -30px;
}

.container-author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  flex: 100%;
}

.author__line {
  flex: 100%;
  height: 1px;
  border-bottom: 1px solid var(--color-text-03);
}
.author-icon {
  align-self: flex-start;
}
.author__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  margin-top: -10px;
  text-align: left;
}
.author__dev {
  text-decoration: underline;
  margin-bottom: 6px;
}
.author__surname {
  font-size: 16px;
  font-weight: 700;
}
.author__name {
  font-size: 16px;
  font-weight: 400;
  margin-top: -4px;
}

.button {
  border-radius: 8px;
  width: 125px;
  text-align: center;
  vertical-align: bottom;
  padding: 8px 0px;
  font-weight: 700;
  transition: all 0.25s ease-in;
  cursor: pointer;
}
.button_container {
  display: flex;
  flex: 0 1 100%;
  justify-content: space-between;
  align-items: center;
}
.button-secondary {
  background-color: transparent;
  border: var(--color-text-04) 1px solid;
  font-size: 16px;
  color: var(--color-btn-text-02);
}
.button-main {
  background-color: var(--color-btn-01);
  border: var(--color-btn-text-01) 1px solid;
  font-size: 16px;
  color: var(--color-btn-text-01);
}
.button-ref {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border-radius: 8px;
  line-height: 0.8em;
  width: 70px;
  padding: 6px 12px;
}
.button-ref:hover {
  color: var(--color-text-04);
}
.button-disabled {
  font-size: 16px;
  background-color: var(--color-btn-03);
  color: var(--color-btn-text-03);
  cursor: auto;
}
.button_pulse {
  transition: all 0.25s ease-in;
}
.button_pulse:hover {
  box-shadow: 0px 0px 5px 3px var(--color-btn-pulse);
}
.button_pulse:active {
  animation-fill-mode: none;
  animation: pulse 0.5s;
  animation-fill-mode: both;
  box-shadow: 0 0 0 15px transparent;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--color-btn-pulse);
  }
}

@media (max-width: 1024px) {
  .container-left,
  .container-right {
    height: 100px;
  }
  .test-card-large {
    flex-wrap: nowrap;
    width: 320px;
    height: 120px;
    border-radius: 8px;
    cursor: pointer;
  }
  .test-card-large:hover {
    box-shadow: 0px 0px 5px 3px var(--color-btn-pulse);
  }
  .test-card-large:active {
    animation: pulse 0.5s;
    box-shadow: 0 0 0 15px transparent;
  }
  .header__description {
    display: none;
  }
  .header__title {
    font-size: 24px;
    width: 230px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 0.8em;
  }
  .info {
    transition: all 0.25s ease-in;
    margin-bottom: 8px;
  }
  .info__question {
    background-image: none;
  }
  .info__finish {
    background-image: none;
  }
  .info__text {
    padding-left: 0;
  }
  .container-bottom,
  .bar-container,
  .status__result {
    display: none;
  }
  .status-container {
    width: 38px;
  }
}/*# sourceMappingURL=test_card.css.map */