// Vars
$card_padding: 10px;
$card_height: 450px;
$card_width: 420px;
$content_height: 260px;
$content_width: 75%;

$btn_height: 40px;
$btn_width: 125px;
$author_height: 80px;

body {
    --color_bg: #ebecf0;
    --color_text: #323232;
    --color_text_02: #808080;
    --color_frame_hover: #f1f1f1;

    --color_disabled: #b8b8b8;
    --color_btn_primary: #0b5589;
    --color_btn_text_primary: #ebecf0;
    --color_btn_secondary: transparent;
    --color_btn_text_secondary: #2470a0;
    --color_subtitle: #0b5589;

    --color-shadow-dark_40: #474f6166;
    --color-shadow-dark_100: #484f60;
    --color-shadow-light_0: #53090900;
    --color-shadow-light_40: #ffffff66;
    --color-shadow-light_100: #ffffff;

    --color-green: #379217;

    // Shadow
    --shadow-flat: 0px 0px 20px var(--color_disabled);
    --shadow-drop: 4px 4px 8px -2px var(--color-shadow-dark_40),
        -4px -4px 8px -1px var(--color-shadow-light_100);
    --shadow-inner: inset -4px -4px 6px -1px var(--color-shadow-light_100),
        inset 2px 2px 8px -1px var(--color-shadow-dark_40);
}

body.dark-theme {
    --color_bg: #1a1b25;
    --color_text: #dbdbdb;
    --color_text_02: #a1a1a1;
    --color_frame_hover: #151620;
    --color_disabled: #313349;

    --color_btn_primary: #0b5589;
    --color_btn_text_primary: #ebecf0;
    --color_btn_secondary: transparent;
    --color_btn_text_secondary: #0B5589;
    --color_subtitle: #8d8db5;

    --color-shadow-dark_40: #00000066;
    --color-shadow-dark_100: #000000;
    --color-shadow-light_0: #00000000;
    --color-shadow-light_40: #25263366;
    --color-shadow-light_100: #252633;
}


// Mixins
@mixin shared-styles() {
    padding: 0 8px;
    position: relative;
    border: 3px solid var(--color-shadow-light_0);
    outline: none;
    transition: all 250ms ease-in-out;
    // border-radius: 1em;

    &:hover {
        box-shadow: none;
        border-color: var(--color_frame_hover);
    }
}


@mixin btnFontStyle() {
    font-size: 16px;
    font-weight: 700;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Proxima Nova', 'Montserrat', Arial, monospace !important;
    margin: 0px;
    padding: 0px;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color_bg);
}

// *** Full page container
.container {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
    flex-wrap: wrap;
    padding: 50px;
}

.card {
    @include shared-styles;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    padding: $card_padding;
    color: var(--color_text);
    text-align: left;
    width: $card_width;
    height: $card_height;
    user-select: none;
    box-shadow: var(--shadow-drop);
    border-radius: 1.5em;
}

.description_light {
    color: var(--color_text_02);
    font-size: 14px;
    font-weight: 400;
}

.subtitle {
    color: var(--color_text);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

// *** Content ***
.content_container {
    display: flex;
    width: $content_width;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: $content_height;
}

.about_container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 100%;
}

.title {
    color: var(--color_text);
    font-size: 30px;
    height: 40px;
    font-weight: 700;
    letter-spacing: -1px;
    overflow: hidden;
    position: relative;
}

.description {
    transition: all 0.1s ease-in;
    margin-top: -15px;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    height: 120px;
}

.icon {
    align-self: center;
}

.info_container {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.info_title {
    color: var(--color_subtitle);
    font-weight: 700;
    font-size: 16px;
}

.question_container,
.finish_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;

}

// *** Status ***
.status_container {
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc($content_height);
    margin-left: 10px;
    text-align: center;
}

.points_container,
.attempts_container {
    margin-bottom: 5px;
}

.status_info_container {
    opacity: 0;
    background-image: url('../icons/status_img.svg');
    background-repeat: no-repeat;
    background-position: top center;
    animation: percent-opacity .5s ease-out forwards;
    animation-delay: .1s;
}

.status_percent {
    padding-top: 40px;
    padding-bottom: 15px;
    color: var(--color-green);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    height: 65px;
}

.status_result_container {
    height: 70px;
}

.bar_container {
    width: 20px;
    position: relative;
    overflow: hidden;
    margin-top: 25px;
    margin-bottom: -$author_height;
    border-radius: 0.5em;
    box-shadow: var(--shadow-inner);
    height: 100%;
    transform: translateY(0%);
}

.bar {
    background-color: var(--color-green);
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    animation: grow 1.5s ease-out forwards;
    transform-origin: bottom;
    border-radius: inherit;
}

@keyframes grow {
    from {
        transform: scaleY(0);
    }
}

@keyframes percent-opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


// *** Author ***
.card_profile {
    @include shared-styles;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: nowrap;
    width: 75%;
    height: $author_height;
    border-radius: 1.5em;
    box-shadow: var(--shadow-flat);
    box-shadow: var(--shadow-drop);
    cursor: pointer;
}

.card_profile__img {
    border-radius: 50%;
}

.card_profile__content {
    margin-left: 26px;
    width: 150px;
    text-align: left;
}

.card_profile__name {
    font-weight: 700;
    margin-bottom: 5px;
}

// *** Buttons ***
.buttons_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.button {
    @include shared-styles();
    @include btnFontStyle();
    box-shadow: var(--shadow-drop);
    cursor: pointer;
    user-select: none;
    height: $btn_height;
    width: $btn_width;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color_btn_secondary);
    color: var(--color_btn_text_secondary);

    &:active {
        box-shadow: var(--shadow-inner);
        border: 0px transparent solid;
    }

}

// Исправить цвета!
.btn_primary {
    // background-color: var(--color_btn_primary);
    // color: var(--color_btn_text_primary);

    background-color: var(--color_btn_secondary);
    color: var(--color_btn_text_secondary);
}


.btn_mode {
    margin: 25px;
}

.btn_disabled {
    @include btnFontStyle();
    box-shadow: none;
    user-select: none;
    height: $btn_height;
    width: $btn_width;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color_disabled);
    border: 2px solid var(--color_disabled);
}

@media(max-width: 1024px) {

    .content_container,
    .status_container {
        height: 100px;
    }

    .card {
        @include shared-styles();
        flex-wrap: nowrap;
        width: 320px;
        height: 120px;
        cursor: pointer;
        padding: 10px 15px;
    }

    .title {
        font-size: 24px;
        width: 230px;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 0.8em;
    }

    .info_container {
        width: 100%;
    }

    .description,
    .icon,
    .buttons_container,
    .bar_container,
    .status_result_container,
    .card_profile {
        display: none;
    }

    .status_info_container {
        width: 38px;
    }
}