@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
// Vars
$card_padding: 10px;
$card_height: 600px;
$card_width: 1000px;
$content_height: 480px;
$content_width: 800px;
$content_padding: 20px;

$btn_height: 40px;
$btn_width: 125px;
$author_height: 80px;
$height_sm: 25px;

body {
    --color_bg: #ebecf0;
    --color_text: #323232;
    --color_text_02: #808080;
    --color_frame_hover: #f1f1f1;
    --color_nav: #ffffff33;
    --color_disabled: #b8b8b8;
    --color_btn_primary: #0b5589;
    --color_btn_text_primary: #ebecf0;
    --color_btn_secondary: transparent;
    --color_btn_text_secondary: #2470a0;
    --color_subtitle: #0b5589;
    --color_footer: #363640;


    --color-shadow-dark_40: #474f6166;
    --color-shadow-dark_100: #484f60;
    --color-shadow-light_0: #ffffff00;
    --color-shadow-light_40: #ffffff66;
    --color-shadow-light_100: #ffffff;

    --color-green: #379217;

    // Shadow
    --shadow-flat: 0px 1px 8px var(--color-shadow-dark_40);
    --shadow-light: 0px 0px 20px -2px var(--color_disabled);
    --shadow-drop: 4px 4px 8px -2px var(--color-shadow-dark_40),
        -4px -4px 8px -1px var(--color-shadow-light_100);
    --shadow-inner: inset -4px -4px 6px -1px var(--color-shadow-light_100),
        inset 2px 2px 8px -1px var(--color-shadow-dark_40);
}

body.dark-theme {
    --color_bg: #1a1b25;
    --color_text: #dbdbdb;
    --color_text_02: #a1a1a1;
    --color_frame_hover: #151620;
    --color_disabled: #313349;
    --color_nav: rgba(0, 0, 0, 0.20);

    --color_btn_primary: #0b5589;
    --color_btn_text_primary: #ebecf0;
    --color_btn_secondary: transparent;
    --color_btn_text_secondary: #0B5589;
    --color_subtitle: #8d8db5;

    --color-shadow-dark_40: #00000066;
    --color-shadow-dark_100: #000000;
    --color-shadow-light_0: #00000000;
    --color-shadow-light_40: #25263366;
    --color-shadow-light_100: #252633;
}


// Mixins
@mixin shared-styles() {
    // padding: 0 8px;
    position: relative;
    outline: none;
    transition: all 250ms ease-in-out;
}

@mixin hover() {
    &:hover {
        box-shadow: none;
        border-color: var(--color_frame_hover);
    }
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin btnFontStyle() {
    font-size: 16px;
    font-weight: 700;
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Proxima Nova', 'Montserrat', Arial, monospace !important;
    margin: 0px;
    padding: 0px;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color_bg);
}

// *** Full page container
// .container {
//     display: flex;
//     justify-content: center;
//     width: 100%;
//     flex-wrap: wrap;
// }

.card_walkthrough {
    @include shared-styles;
    font-family: 'Proxima Nova Regular';
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: start;
    flex-flow: column wrap;
    color: var(--color_text);
    text-align: left;
    width: $card_width;
    height: $card_height;
    box-shadow: var(--shadow-drop);
    border-radius: 1.5em;
}

.description_light {
    color: var(--color_text_02);
    font-size: 14px;
    font-weight: 400;
}

.subtitle {
    color: var(--color_text);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

// *** Header***
.header {
    display: flex;
    width: 100%;
    height: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.5em 1.5em 0 0;
    border-bottom-width: 1px;
    border-bottom-color: var(--color_disabled);
    border-bottom-style: solid;
}

.title {
    font-family: 'Proxima Nova SemiBold';
    font-size: 30px;
    font-weight: 1500px;
    letter-spacing: -1.8px;
    padding-left: 30px;
}

.time_container {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    width: 200px;
    padding-right: 30px;
}

.time_title {
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    // width: 160px;
}

.time {
    color: var(--color-blue-black, #0B5589);
    text-align: right;
    font-family: Zen Dots;
    font-size: 20px;
    font-weight: 400;
    line-height: normal
}

.main_container {
    display: flex;
    // flex: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: start;
}

// *** Nav ***
.nav {
    width: 200px;
    // height: $content_height;
    background: var(--color_nav)
}

.nav_title {
    font-family: 'Proxima Nova SemiBold';
    color: var(--color_text);
    font-size: 18px;
    margin: 16px 0 0 30px;
}

// *** Content ***
.content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    // height: $content_height;
    width: $content_width - $content_padding * 2;
    text-align: left;
    padding: $content_padding;
    // background-color: rgba(255, 0, 0, 0.068);
}

.section_container {
    margin-bottom: 15px;
}

.question_container {
    margin-bottom: 25px;
}

.section_num {
    color: var(----color-blue-black, #0B5589);
    font-family: Proxima Nova;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section_title {
    color: var(----dark-dx-dark-default, #363640);
    font-family: Proxima Nova;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.question_num {
    color: var(----color-blue-black, #0B5589);
    font-family: Proxima Nova;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.question_title {
    color: var(----dark-dx-dark-default, #363640);
    font-family: Proxima Nova;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

// *** Variants ***
.variant {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 40px;
    gap: 30px;
}

// Checkbox
.checkbox {
    margin-top: 5px;

    &_input {
        display: none;

        &:checked+.checkbox_btn {
            box-shadow: var(--shadow-inner);
            border-color: var(--color-shadow-light_0);

            &:before {
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='11' viewBox='0 0 30 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 3L8 14L3 9' stroke='%230B5589' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-size: cover;
            }

            &:hover {
                box-shadow: none;
                border-color: var(--color-shadow-light_40);
            }
        }
    }

    &_btn {
        @include size($height_sm);
        display: block;
        position: relative;
        border: 3px solid var(--color-shadow-light_0);
        border-radius: 0.4em;
        box-shadow: var(--shadow-drop);
        background-color: var(--color-bg);
        cursor: pointer;
        transition: all 250ms ease-in-out;

        &:hover {
            box-shadow: none;
            border-color: var(--color-shadow-light_40);
        }

        &:before {
            content: "";
            @include size(calc($height_sm/2));
            @include center;
            transition: all 200ms ease-in-out;
        }
    }
}

.variant_text {
    margin-top: 0;
}

// *** Buttons ***
.buttons_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.button {
    @include shared-styles();
    @include hover();
    @include btnFontStyle();
    box-shadow: var(--shadow-drop);
    cursor: pointer;
    user-select: none;
    height: $btn_height;
    width: $btn_width;
    padding: 0 20px;
    border-radius: 1em;
    border: 3px transparent solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color_btn_secondary);
    color: var(--color_btn_text_secondary);

    &:active {
        box-shadow: var(--shadow-inner);
        border: none;
        border: 0px transparent solid;
    }
}

.btn_finish {
    width: $btn_width * 1.5;
    margin-right: 250px;
}

// Исправить цвета!
.btn_primary {
    // background-color: var(--color_btn_primary);
    // color: var(--color_btn_text_primary);

    background-color: var(--color_btn_secondary);
    color: var(--color_btn_text_secondary);
}


.btn_mode {
    margin: 25px;
}

.btn_disabled {
    @include btnFontStyle();
    box-shadow: none;
    user-select: none;
    height: $btn_height;
    width: $btn_width;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color_disabled);
    border: 2px solid var(--color_disabled);
}

// *** Footer ***
.footer {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color_footer);
    flex-wrap: nowrap;
    flex: 1 0 auto;
    border-radius: 0 0 1.5em 1.5em;
    border-bottom-width: 1px;
    border-bottom-color: var(--color_disabled);
    border-bottom-style: solid;
    color: var(--color_btn_text_primary);
    font-family: Proxima Nova;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 $content_padding;
}

.footer_time_icon {
    display: inline-block;
    @include size(32px);
    transition: all 200ms ease-in-out;

    &:before {
        @include size(32px);
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='33' viewBox='0 0 32 33' fill='none'%3E%3Cpath d='M16 32.5C11.7565 32.5 7.68687 30.8143 4.68629 27.8137C1.68571 24.8131 0 20.7435 0 16.5C0 12.2565 1.68571 8.18687 4.68629 5.18629C7.68687 2.18571 11.7565 0.5 16 0.5C20.2435 0.5 24.3131 2.18571 27.3137 5.18629C30.3143 8.18687 32 12.2565 32 16.5C32 20.7435 30.3143 24.8131 27.3137 27.8137C24.3131 30.8143 20.2435 32.5 16 32.5ZM16 29.3C19.3948 29.3 22.6505 27.9514 25.051 25.551C27.4514 23.1505 28.8 19.8948 28.8 16.5C28.8 13.1052 27.4514 9.8495 25.051 7.44903C22.6505 5.04857 19.3948 3.7 16 3.7C12.6052 3.7 9.3495 5.04857 6.94903 7.44903C4.54857 9.8495 3.2 13.1052 3.2 16.5C3.2 19.8948 4.54857 23.1505 6.94903 25.551C9.3495 27.9514 12.6052 29.3 16 29.3ZM14.4 17.156V6.9H17.6V15.844L23.92 22.164L21.664 24.42L14.4 17.156Z' fill='%23F1F1F1'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-size: 100%;
        display: inline-block;
    }
}

.footer_time_container,
.footer_question_container {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    gap: 10px;
    flex: 0 1 auto;
    background-color: #0B5589;
}

.footer_time_text {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.footer_question_icon {
    display: inline-block;

    @include size(32px);
    transition: all 200ms ease-in-out;

    &:before {
        @include size(32px);
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='31' viewBox='0 0 32 31' fill='none'%3E%3Cpath d='M18.2857 22.9286C18.2857 23.3806 18.1516 23.8225 17.9005 24.1984C17.6493 24.5743 17.2924 24.8673 16.8747 25.0403C16.457 25.2133 15.9975 25.2585 15.5541 25.1703C15.1107 25.0822 14.7034 24.8645 14.3837 24.5448C14.0641 24.2251 13.8464 23.8179 13.7582 23.3745C13.67 22.9311 13.7153 22.4715 13.8883 22.0538C14.0613 21.6362 14.3542 21.2792 14.7301 21.0281C15.106 20.7769 15.5479 20.6428 16 20.6428C16.6062 20.6428 17.1876 20.8837 17.6162 21.3123C18.0449 21.741 18.2857 22.3223 18.2857 22.9286ZM31.4286 15.5C31.4286 18.5515 30.5237 21.5344 28.8284 24.0716C27.1331 26.6089 24.7234 28.5864 21.9042 29.7541C19.085 30.9219 15.9829 31.2274 12.99 30.6321C9.99717 30.0368 7.24807 28.5674 5.09034 26.4096C2.93262 24.2519 1.46319 21.5028 0.867874 18.5099C0.272559 15.5171 0.578096 12.4149 1.74585 9.59572C2.9136 6.77652 4.89112 4.36691 7.42833 2.67159C9.96555 0.976281 12.9485 0.0714111 16 0.0714111C20.0905 0.0759486 24.0122 1.70291 26.9046 4.59535C29.7971 7.48778 31.424 11.4095 31.4286 15.5ZM28 15.5C28 13.1266 27.2962 10.8065 25.9776 8.83314C24.659 6.85975 22.7849 5.32168 20.5922 4.41343C18.3995 3.50518 15.9867 3.26754 13.6589 3.73056C11.3311 4.19358 9.19294 5.33647 7.51471 7.0147C5.83648 8.69293 4.69359 10.8311 4.23057 13.1589C3.76754 15.4867 4.00518 17.8995 4.91343 20.0922C5.82169 22.2849 7.35976 24.159 9.33315 25.4776C11.3065 26.7962 13.6266 27.5 16 27.5C19.1815 27.4966 22.2318 26.2312 24.4815 23.9815C26.7312 21.7318 27.9966 18.6815 28 15.5ZM16 6.35713C12.5343 6.35713 9.71427 8.91998 9.71427 12.0714V12.6428C9.71427 13.0975 9.89489 13.5335 10.2164 13.855C10.5379 14.1765 10.9739 14.3571 11.4286 14.3571C11.8832 14.3571 12.3193 14.1765 12.6407 13.855C12.9622 13.5335 13.1428 13.0975 13.1428 12.6428V12.0714C13.1428 10.8114 14.4286 9.7857 16 9.7857C17.5714 9.7857 18.8571 10.8114 18.8571 12.0714C18.8571 13.3314 17.5714 14.3571 16 14.3571C15.5453 14.3571 15.1093 14.5377 14.7878 14.8592C14.4663 15.1807 14.2857 15.6168 14.2857 16.0714V17.2143C14.2847 17.6378 14.4405 18.0467 14.7231 18.3622C15.0057 18.6777 15.395 18.8774 15.8161 18.9228C16.2372 18.9682 16.6602 18.8562 17.0036 18.6082C17.3469 18.3603 17.5864 17.994 17.6757 17.58C20.33 16.9114 22.2857 14.6957 22.2857 12.0714C22.2857 8.91998 19.4657 6.35713 16 6.35713Z' fill='%23F1F1F1'/%3E%3C/svg%3E");
        background-size: cover;
        background-position: center;
        background-size: 100%;
        display: inline-block;
    }
}

.footer_progress_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
    height: 100%;
    background-color: #0B5589;
}

.footer_progress_text {
    display: flex;
    // flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
}


// Progress Bar
// .progress {
//     @include shared-styles;
//     @include size(100%, 12px);
//     @include gridPlacement(column, 1, 5);
//     @include gridPlacement(row, 7, 7);
//     position: relative;
//     margin-top: 16px;
//     border-radius: 12px;
//     box-shadow: var(--shadow-drop);
//     background-color: var(--color-bg);

//     $progress: 40%;

//     &__fill {
//         @include size($progress, 100%);

//         position: absolute;
//         border-radius: inherit;
//         background: linear-gradient(to right, var(--color-accent-blue), var(--color-bright-blue));

//         &:before {
//             @include applyFontStyle;
//             content: "#{$progress}";
//             padding: 11px 15px;
//             margin-top: -16px;
//             position: absolute;
//             top: 0;
//             right: 0;
//             transform: translate(50%, -100%);
//             border-radius: 8px;
//             box-shadow: var(--shadow-drop);
//             background-color: var(--color-bg);
//         }

//         &:after {
//             content: "";
//             @include size(0);
//             position: absolute;
//             right: 0;
//             bottom: 12px;
//             transform: translate(50%, -100%);
//             border-top: 9px solid var(--color-bg);
//             border-left: 8px solid transparent;
//             border-right: 8px solid transparent;
//         }
//     }
// }

.bar_container {
    width: 400px;
    position: relative;
    overflow: hidden;
    // margin-top: 25px;
    // margin-bottom: -$author_height;
    border-radius: 0.5em;
    box-shadow: var(--shadow-inner);
    height: 15px;
    // transform: translateY(0%);
}

.bar {
    background-color: var(--color-green);
    position: absolute;
    bottom: 0;
    height: 22%;
    width: 60%;
    box-sizing: border-box;
    // transform-origin: bottom;
    border-radius: inherit;
}

// @media(max-width: 1024px) {

//     .content_container,
//     .status_container {
//         height: 100px;
//     }

//     .card {
//         @include shared-styles();
//         flex-wrap: nowrap;
//         width: 320px;
//         height: 120px;
//         cursor: pointer;
//         padding: 10px 15px;
//     }

//     .title {
//         font-size: 24px;
//         width: 230px;
//         -webkit-line-clamp: 2;
//         display: -webkit-box;
//         -webkit-box-orient: vertical;
//         overflow: hidden;
//         line-height: 0.8em;
//     }

//     .info_container {
//         width: 100%;
//     }

//     .description,
//     .icon,
//     .buttons_container,
//     .bar_container,
//     .status_result_container,
//     .card_profile {
//         display: none;
//     }

//     .status_info_container {
//         width: 38px;
//     }
// }

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('../fonts/ProximaNova-Semibold.eot');
    src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Semibold.woff') format('woff'),
        url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}