// Vars
$content_padding: 20px;
$btn_height: 40px;
$btn_width: 180px;

body {
    --color_bg: transparent;
    --color_text: #323232;
    --color_text_blue: #0b5589;
    --color_text_02: #808080;
    --color_frame_hover: #f1f1f1;
    --color_disabled: #e2e2e2;
    --color_btn_attention: #B34C4C;
    --color_btn_secondary: transparent;
    --color_btn_text_secondary: #2470a0;
    --color_info: #f7f7fc;

    --color-shadow-dark_40: #474f6166;
    --color-shadow-light_100: #ffffff;

    --color-green: #379217;

    // Shadow
    --shadow_standart_IGN: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --shadow-inner: inset -4px -4px 6px -1px var(--color-shadow-light_100),
        inset 2px 2px 8px -1px var(--color-shadow-dark_40);

    --checkbox: url("data:image/svg+xml,%3Csvg width='16' height='11' viewBox='0 0 30 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 3L8 14L3 9' stroke='%230B5589' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    --checkbox_nav_checked: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='3.5' fill='%23F9F5FF'/%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='3.5' stroke='%23626262'/%3E%3Cpath d='M12 5L6.5 10.5L4 8' stroke='%23626262' stroke-width='1.6666' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    --checkbox_nav_unchecked: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='3.5' fill='white'/%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='3.5' stroke='%23D0D5DD'/%3E%3C/svg%3E%0A");
}

body.dark-theme {
    --color_bg: #1a1b25;
    --color_text: #dbdbdb;
    --color_text_02: #a1a1a1;
    --color_text_blue: #5c9cfd;
    --color_info: #1e1f2b;
    --color_frame_hover: #151620;
    --color_disabled: #313349;
    --color_btn_secondary: #1a1b25;
    --color_btn_text_secondary: #2470a0;

    --color-shadow-dark_40: #000000cc;
    --color-shadow-light_100: #505166;

    --checkbox: url("data:image/svg+xml,%3Csvg width='16' height='11' viewBox='0 0 30 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 3L8 14L3 9' stroke='%234E96FF' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    --checkbox_nav_checked: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='3.5' fill='%23323558'/%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='3.5' stroke='%23f1f1f1'/%3E%3Cpath d='M12 5L6.5 10.5L4 8' stroke='%23f1f1f1' stroke-width='1.6666' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    --checkbox_nav_unchecked: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='3.5' fill='%23323558'/%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='3.5' stroke='%23626262'/%3E%3C/svg%3E%0A");
}


// Mixins
@mixin shared-styles() {
    position: relative;
    outline: none;
    transition: all 250ms ease-in-out;
    box-shadow: var(--shadow_standart_IGN);
}

@mixin hover() {
    &:hover {
        box-shadow: none;
        border-color: var(--color_frame_hover);
    }
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin btnFontStyle() {
    font-size: 16px;
    font-weight: 700;
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin line-gradient() {
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, var(--color_disabled), var(--color_bg), var(--color_disabled));
}

@mixin disp-flex($direct: row, $align: center, $justify: space-between) {
    display: flex;
    flex-direction: $direct;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: nowrap;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Proxima Nova', 'Montserrat', Arial, monospace !important;
    margin: 0px;
    padding: 0px;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color_bg);
}

.mode_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card_walkthrough {
    @include disp-flex(column, stretch, start);
    // display: flex;
    // flex-direction: column;
    // flex-wrap: wrap;
    // align-items: stretch;
    // justify-content: start;
    flex-flow: column wrap;
    max-width: 1920px;
    min-height: 800px;
    max-height: calc(100vh - 80px);
    user-select: none;
}

// *** Header***
.header {
    @include size(100%, 70px);
    @include line-gradient();
    @include disp-flex();
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: space-between;
    padding: $content_padding;
    border-left: 0;
    border-right: 0;
    color: var(--color_text);
}

.title {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -1.8px;
}

.main_container {
    @include disp-flex(row, start);
}

// *** Nav ***
.nav {
    max-height: calc(100vh - 180px);
    padding: $content_padding;
    padding-top: $content_padding - 4px;
    min-width: 350px;
    overflow: auto;
}

.nav::-webkit-scrollbar,
.variants_container::-webkit-scrollbar {
    width: 3px;
}

body::-webkit-scrollbar-track,
.nav::-webkit-scrollbar-track,
.variants_container::-webkit-scrollbar-track {
    background: rgba(211, 209, 209, 0);
}

body::-webkit-scrollbar-thumb,
.nav::-webkit-scrollbar-thumb,
.variants_container::-webkit-scrollbar-thumb {
    background-color: rgb(133, 133, 133);
    border-radius: 20px;
}

.nav_title {
    font-weight: bold;
    color: var(--color_text);
    font-size: 18px;
}

.nav_section {
    margin-top: 10px;
    margin-left: 10px;
}

.nav_question_container {
    @include disp-flex(row, start);
    margin-left: 20px;
    margin-top: 5px;
}

.nav_question_checked {
    display: inline-block;
    @include size(15px);

    &:before {
        @include size(15px);
        content: '';
        background-image: var(--checkbox_nav_checked);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-size: 100%;
        display: inline-block;
    }
}

.nav_question_unchecked {
    display: inline-block;
    @include size(15px);

    &:before {
        @include size(15px);
        content: '';
        background-image: var(--checkbox_nav_unchecked);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-size: 100%;
        display: inline-block;
    }
}

a {
    text-decoration: none;
}

// *** Content ***
.content {
    @include disp-flex(column, start, start);
    gap: 20px;
    color: var(--color_text);
    text-align: left;
    padding: $content_padding;
}

.question_title {
    font-size: 20px;
    font-weight: bold;
    text-wrap: balance;
    padding: $content_padding;
}

// *** Variants ***
.variant {
    @include disp-flex(row, start, start);
    gap: 30px;
}

.variants_container {
    @include disp-flex(column, start, start);
    padding: $content_padding;
    margin-left: $content_padding;
    gap: 30px;
    max-height: calc(100vh - 380px);
    text-align: left;
    overflow: auto;
}

.variant_text {
    margin-top: -5px;
    text-wrap: balance;
    text-align: left;
}

// *** Buttons ***
.top_shadow {
    @include line-gradient();
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.top_content_container {
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: space-between;
}

.top-question_num {
    justify-self: start;
    margin-left: $content_padding;
    font-size: 24px;
    font-weight: bold;
    color: var(--color_text_blue);
}

.buttons_container {
    @include disp-flex();
    gap: 50px;
}

.button {
    @include shared-styles();
    @include hover();
    @include btnFontStyle();
    @include disp-flex(row, center, center);
    cursor: pointer;
    user-select: none;
    width: $btn_width;
    padding: 8px 20px;
    border-radius: 1em;
    border: 1px transparent solid;
    background-color: var(--color_btn_secondary);
    color: var(--color_btn_text_secondary);

    &:active {
        box-shadow: var(--shadow-inner);
        border: none;
        border: 1px transparent solid;
    }
}

.btn_primary {
    background-color: var(--color_btn_secondary);
    color: var(--color_btn_text_secondary);
}


.btn_mode {
    margin: 25px;
}

.btn_finish {
    background-color: var(--color_btn_attention);
    color: white;
    padding: 4px 20px;
    border-radius: 1.3em;
}

// *** Info ***
.info_panel {
    display: flex;
    min-width: 250px;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    flex-wrap: nowrap;
    color: var(--color_text);
    font-size: 16px;
    font-weight: bold;
    padding: $content_padding;
    background-color: var(--color_info);
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color_info);
    padding: $content_padding;
    border-radius: 1.3em;
    height: $btn_height ;
    box-shadow: var(--shadow-inner);
    color: var(--color_text_blue);
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}