@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
// Vars
$card_padding: 10px;
$card_height: 600px;
$card_width: 1000px;
$content_height: 480px;
$content_width: 800px;
$content_padding: 20px;

$btn_height: 40px;
$btn_width: 125px;
$author_height: 80px;
$height_sm: 25px;


body {
    --color_bg: #ebecf0;
    --color_text: #323232;
    --color_text_blue: #0b5589;
    --color_text_02: #808080;
    --color_text_blue_bright: #4E96FF;
    --color_checkbox_bg: transparent;
    --color_frame_hover: #f1f1f1;
    --color_nav: #ffffff33;
    --color_disabled: #b8b8b8;
    --color_btn_primary: #0b5589;
    --color_btn_text_primary: #ebecf0;
    --color_btn_secondary: transparent;
    --color_btn_radio: transparent;
    --color_btn_text_secondary: #2470a0;
    --color_subtitle: #0b5589;
    --color_footer: #363640;


    --color-shadow-dark_40: #474f6166;
    --color-shadow-dark_100: #484f60;
    --color-shadow-light_0: #ffffff00;
    --color-shadow-light_40: #ffffff66;
    --color-shadow-light_100: #ffffff;

    --color-green: #379217;

    // Shadow
    --shadow-flat: 0px 1px 8px var(--color-shadow-dark_40);
    --shadow-light: 0px 0px 20px -2px var(--color_disabled);
    --shadow-drop: 4px 4px 6px var(--color-shadow-dark_40),
        -2px -2px 4px -1px var(--color-shadow-light_100);
    --shadow-inner: inset -4px -4px 6px -1px var(--color-shadow-light_100),
        inset 2px 2px 8px -1px var(--color-shadow-dark_40);
    --shadow-inner_scroll: inset -1px -1px 2px var(--color-shadow-dark_40),
        inset 2px 2px 2px var(--color-shadow-light_100);
    --shadow-inner_footer: inset -4px -4px 6px -1px #252633,
        inset 2px 2px 8px -1px #00000066;

    --checkbox: url("data:image/svg+xml,%3Csvg width='16' height='11' viewBox='0 0 30 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 3L8 14L3 9' stroke='%230B5589' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    --checkbox_nav_checked: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='3.5' fill='%23F9F5FF'/%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='3.5' stroke='%23626262'/%3E%3Cpath d='M12 5L6.5 10.5L4 8' stroke='%23626262' stroke-width='1.6666' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    --checkbox_nav_unchecked: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='3.5' fill='white'/%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='3.5' stroke='%23D0D5DD'/%3E%3C/svg%3E%0A");
}

body.dark-theme {
    --color_bg: #1a1b25;
    --color_text: #dbdbdb;
    --color_text_02: #a1a1a1;
    --color_text_blue_bright: #4E96FF;
    --color_text_blue: #5c9cfd;
    --color_checkbox_bg: #878aac;


    --color_frame_hover: #151620;
    --color_disabled: #313349;
    --color_nav: #1a1b25;

    --color_btn_primary: #0b5589;
    --color_btn_text_primary: #ebecf0;
    --color_btn_secondary: #1a1b25;
    --color_btn_radio: transparent;
    --color_btn_text_secondary: #2470a0;
    --color_subtitle: #8d8db5;
    --color_footer: #121318;

    --color-shadow-dark_40: #000000cc;
    --color-shadow-dark_100: #000000;
    --color-shadow-light_0: #00000000;
    --color-shadow-light_40: #50516666;
    --color-shadow-light_100: #505166;

    --checkbox: url("data:image/svg+xml,%3Csvg width='16' height='11' viewBox='0 0 30 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 3L8 14L3 9' stroke='%234E96FF' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    --checkbox_nav_checked: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='3.5' fill='%23323558'/%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='3.5' stroke='%23f1f1f1'/%3E%3Cpath d='M12 5L6.5 10.5L4 8' stroke='%23f1f1f1' stroke-width='1.6666' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    --checkbox_nav_unchecked: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='3.5' fill='%23323558'/%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='3.5' stroke='%23626262'/%3E%3C/svg%3E%0A");
}


// Mixins
@mixin shared-styles() {
    // padding: 0 8px;
    position: relative;
    outline: none;
    transition: all 250ms ease-in-out;
}

@mixin hover() {
    &:hover {
        box-shadow: none;
        border-color: var(--color_frame_hover);
    }
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin btnFontStyle() {
    font-size: 16px;
    font-weight: 700;
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Proxima Nova', 'Montserrat', Arial, monospace !important;
    margin: 0px;
    padding: 0px;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color_bg);
}

.mode_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

// *** Full page container
// .container {
//     display: flex;
//     justify-content: center;
//     width: 100%;
//     flex-wrap: wrap;
// }

.card_walkthrough {
    @include shared-styles;
    font-family: 'Proxima Nova Regular';
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: start;
    flex-flow: column wrap;
    color: var(--color_text);
    text-align: left;
    width: $card_width;
    height: $card_height;
    box-shadow: var(--shadow-drop);
    border-radius: 1.5em;
    user-select: none;
}

.description_light {
    color: var(--color_text_02);
    font-size: 14px;
    font-weight: 400;
}

.subtitle {
    color: var(--color_text);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

// *** Header***
.header {
    display: flex;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.5em 1.5em 0 0;
    border-bottom-width: 1px;
    border-bottom-color: var(--color_disabled);
    border-bottom-style: solid;
    color: var(--color_text);
}

.title {
    font-family: 'Proxima Nova SemiBold';
    font-size: 30px;
    font-weight: 1500px;
    letter-spacing: -1.8px;
}

.time_frame_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color_footer);
    padding: calc($content_padding /2);
    border-radius: 1em;
    height: $btn_height;
}

.time_container {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: row;
    gap: 10px;
    width: 200px;
}

.time_title {
    text-align: right;
    text-align: right;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    color: var(--color_text_02);
}

.time {
    color: var(--color_text_blue_bright);
    text-align: right;
    font-family: Zen Dots;
    font-size: 20px;
    font-weight: 400;
    line-height: normal
}

.main_container {
    display: flex;
    // flex: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: start;
}

// *** Nav ***
.nav {
    padding: $content_padding - 4px;
    width: 200px;
    height: $content_height;
    background: var(--color_nav);
    overflow: auto;
}

.nav::-webkit-scrollbar,
.content::-webkit-scrollbar {
    width: 15px;
}

.nav::-webkit-scrollbar-track,
.content::-webkit-scrollbar-track {
    border-radius: 1em;
    box-shadow: var(--shadow-inner);
    // background: var(--color_bg);
}

.content::-webkit-scrollbar-thumb,
.nav::-webkit-scrollbar-thumb {
    background-color: var(--color_bg);
    border-radius: 1em;
    box-shadow: var(--shadow-inner_scroll);
}


.nav_title {
    font-family: 'Proxima Nova SemiBold';
    color: var(--color_text);
    font-size: 18px;
}

.nav_section {
    margin-top: 10px;
    margin-left: 10px;
}

.nav_question_container {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 5px;
}

.nav_question_checked {
    display: inline-block;
    @include size(15px);

    &:before {
        @include size(15px);
        content: '';
        background-image: var(--checkbox_nav_checked);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-size: 100%;
        display: inline-block;
    }
}

.nav_question_unchecked {
    display: inline-block;
    @include size(15px);

    &:before {
        @include size(15px);
        content: '';
        background-image: var(--checkbox_nav_unchecked);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-size: 100%;
        display: inline-block;
    }
}

a {
    text-decoration: none;
}

// *** Content ***
.content {
    color: var(--color_text);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    height: $content_height;
    width: $content_width - $content_padding * 2;
    text-align: left;
    padding: $content_padding;
    overflow: auto;
}

.section_container {
    margin-bottom: 10px;
}

.question_container {
    margin-bottom: 20px;
}

.section_num,
.question_num {
    font-family: 'Proxima Nova SemiBold';
    font-size: 14px;
    font-weight: 700;
    color: var(--color_text_blue);
}

.section_title {
    font-family: 'Proxima Nova Bold';
    font-size: 20px;
    font-weight: 700;
}

.question_title {
    font-family: Proxima Nova;
    font-size: 16px;
    font-weight: 700;
    text-wrap: balance;
}

// *** Variants ***
.variant {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    // margin-left: 40px;
    gap: 20px;
}

// Checkbox
.checkbox {
    margin-top: 5px;

    &_input {
        display: none;

        &:checked+.checkbox_btn {
            box-shadow: var(--shadow-inner);
            border-color: var(--color-shadow-light_0);

            &:before {
                background-image: var(--checkbox);
                background-repeat: no-repeat;
                background-size: cover;
            }

            &:hover {
                box-shadow: none;
                border-color: var(--color-shadow-light_40);
            }

            &:active {
                box-shadow: var(--shadow-inner);
                border-color: var(--color-shadow-light_100);
            }
        }
    }

    &_btn {
        @include size($height_sm);
        display: block;
        position: relative;
        border: 3px solid var(--color-shadow-light_0);
        border-radius: 0.4em;
        box-shadow: var(--shadow-drop);
        background-color: var(--color_btn_radio);
        cursor: pointer;
        transition: all 250ms ease-in-out;

        &:hover {
            box-shadow: none;
            border-color: var(--color-shadow-light_40);
        }

        &:active {
            box-shadow: var(--shadow-inner);
            border-color: var(--color-shadow-light_100);
        }

        &:before {
            content: "";
            @include size(calc($height_sm/2));
            @include center;
            transition: all 200ms ease-in-out;
        }
    }

}

// Radio
.radio {
    margin-top: 5px;

    &_input {
        display: none;

        &:checked+.radio_btn {
            box-shadow: var(--shadow-inner);
            border-color: var(--color-shadow-light_40);

            &:before {
                background-color: var(--color_text_blue);
            }

        }
    }


    &_btn {
        @include size($height_sm);

        display: block;
        position: relative;
        border: 3px solid var(--color-shadow-light_0);
        border-radius: 100%;
        box-shadow: var(--shadow-drop);
        background-color: var(--color_btn_radio);
        cursor: pointer;
        transition: all 250ms ease-in-out;

        &:hover {
            box-shadow: none;
            border-color: var(--color-shadow-light_40);
        }

        &:before {
            content: "";
            @include size(calc($height_sm/2));
            @include center;
            border-radius: 100%;
            // border: 3px solid var(--color_text_blue);
            transition: all 200ms ease-in-out;
        }

        &:active {
            box-shadow: var(--shadow-inner);
            border-color: var(--color-shadow-light_100);
        }
    }
}

.variant_text {
    margin-top: 0;
    text-wrap: balance;
}

// *** Buttons ***
.buttons_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.button {
    @include shared-styles();
    @include hover();
    @include btnFontStyle();
    box-shadow: var(--shadow-drop);
    cursor: pointer;
    user-select: none;
    height: $btn_height;
    width: $btn_width;
    padding: 0 20px;
    border-radius: 1em;
    border: 3px transparent solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color_btn_secondary);
    color: var(--color_btn_text_secondary);

    &:active {
        box-shadow: var(--shadow-inner);
        border: none;
        border: 0px transparent solid;
    }
}

.btn_finish {
    width: $btn_width * 1.5;
    margin-right: 250px;
}

.btn_mode,
.btn_check {
    width: $btn_width * 1.5;
}

// Исправить цвета!
.btn_primary {
    // background-color: var(--color_btn_primary);
    // color: var(--color_btn_text_primary);

    background-color: var(--color_btn_secondary);
    color: var(--color_btn_text_secondary);
}


.btn_mode {
    margin: 25px;
}

.btn_disabled {
    @include btnFontStyle();
    box-shadow: none;
    user-select: none;
    height: $btn_height;
    width: $btn_width;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color_disabled);
    border: 2px solid var(--color_disabled);
}

// *** Footer ***
.footer {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color_footer);
    flex-wrap: nowrap;
    flex: 1 0 auto;
    border-radius: 0 0 1.5em 1.5em;
    border-bottom-width: 1px;
    border-bottom-color: var(--color_disabled);
    border-bottom-style: solid;
    color: var(--color_btn_text_primary);
    font-family: Proxima Nova;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 $content_padding;
}

.footer_time_icon {
    display: inline-block;
    @include size(32px);
    transition: all 200ms ease-in-out;

    &:before {
        @include size(32px);
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='33' viewBox='0 0 32 33' fill='none'%3E%3Cpath d='M16 32.5C11.7565 32.5 7.68687 30.8143 4.68629 27.8137C1.68571 24.8131 0 20.7435 0 16.5C0 12.2565 1.68571 8.18687 4.68629 5.18629C7.68687 2.18571 11.7565 0.5 16 0.5C20.2435 0.5 24.3131 2.18571 27.3137 5.18629C30.3143 8.18687 32 12.2565 32 16.5C32 20.7435 30.3143 24.8131 27.3137 27.8137C24.3131 30.8143 20.2435 32.5 16 32.5ZM16 29.3C19.3948 29.3 22.6505 27.9514 25.051 25.551C27.4514 23.1505 28.8 19.8948 28.8 16.5C28.8 13.1052 27.4514 9.8495 25.051 7.44903C22.6505 5.04857 19.3948 3.7 16 3.7C12.6052 3.7 9.3495 5.04857 6.94903 7.44903C4.54857 9.8495 3.2 13.1052 3.2 16.5C3.2 19.8948 4.54857 23.1505 6.94903 25.551C9.3495 27.9514 12.6052 29.3 16 29.3ZM14.4 17.156V6.9H17.6V15.844L23.92 22.164L21.664 24.42L14.4 17.156Z' fill='%23F1F1F1'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-size: 100%;
        display: inline-block;
    }
}


.footer_time_container,
.footer_question_container {
    display: flex;
    align-items: center;
    justify-content: start;

    height: 40px;
    gap: 10px;
    flex: 0 1 auto;
}

.footer_time_text {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.footer_question_icon {
    display: inline-block;

    @include size(32px);
    transition: all 200ms ease-in-out;

    &:before {
        @include size(32px);
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='33' viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.2857 23.9286C18.2857 24.3806 18.1516 24.8225 17.9005 25.1984C17.6493 25.5743 17.2924 25.8673 16.8747 26.0403C16.457 26.2133 15.9975 26.2585 15.5541 26.1703C15.1107 26.0822 14.7034 25.8645 14.3837 25.5448C14.0641 25.2251 13.8464 24.8179 13.7582 24.3745C13.67 23.9311 13.7153 23.4715 13.8883 23.0538C14.0613 22.6362 14.3542 22.2792 14.7301 22.0281C15.106 21.7769 15.5479 21.6428 16 21.6428C16.6062 21.6428 17.1876 21.8837 17.6162 22.3123C18.0449 22.741 18.2857 23.3223 18.2857 23.9286ZM31.4286 16.5C31.4286 19.5515 30.5237 22.5344 28.8284 25.0716C27.1331 27.6089 24.7234 29.5864 21.9042 30.7541C19.085 31.9219 15.9829 32.2274 12.99 31.6321C9.99717 31.0368 7.24807 29.5674 5.09034 27.4096C2.93262 25.2519 1.46319 22.5028 0.867874 19.5099C0.272559 16.5171 0.578096 13.4149 1.74585 10.5957C2.9136 7.77652 4.89112 5.36691 7.42833 3.67159C9.96555 1.97628 12.9485 1.07141 16 1.07141C20.0905 1.07595 24.0122 2.70291 26.9046 5.59535C29.7971 8.48778 31.424 12.4095 31.4286 16.5ZM28 16.5C28 14.1266 27.2962 11.8065 25.9776 9.83314C24.659 7.85975 22.7849 6.32168 20.5922 5.41343C18.3995 4.50518 15.9867 4.26754 13.6589 4.73056C11.3311 5.19358 9.19294 6.33647 7.51471 8.0147C5.83648 9.69293 4.69359 11.8311 4.23057 14.1589C3.76754 16.4867 4.00518 18.8995 4.91343 21.0922C5.82169 23.2849 7.35976 25.159 9.33315 26.4776C11.3065 27.7962 13.6266 28.5 16 28.5C19.1815 28.4966 22.2318 27.2312 24.4815 24.9815C26.7312 22.7318 27.9966 19.6815 28 16.5ZM16 7.35713C12.5343 7.35713 9.71427 9.91998 9.71427 13.0714V13.6428C9.71427 14.0975 9.89489 14.5335 10.2164 14.855C10.5379 15.1765 10.9739 15.3571 11.4286 15.3571C11.8832 15.3571 12.3193 15.1765 12.6407 14.855C12.9622 14.5335 13.1428 14.0975 13.1428 13.6428V13.0714C13.1428 11.8114 14.4286 10.7857 16 10.7857C17.5714 10.7857 18.8571 11.8114 18.8571 13.0714C18.8571 14.3314 17.5714 15.3571 16 15.3571C15.5453 15.3571 15.1093 15.5377 14.7878 15.8592C14.4663 16.1807 14.2857 16.6168 14.2857 17.0714V18.2143C14.2847 18.6378 14.4405 19.0467 14.7231 19.3622C15.0057 19.6777 15.395 19.8774 15.8161 19.9228C16.2372 19.9682 16.6602 19.8562 17.0036 19.6082C17.3469 19.3603 17.5864 18.994 17.6757 18.58C20.33 17.9114 22.2857 15.6957 22.2857 13.0714C22.2857 9.91998 19.4657 7.35713 16 7.35713Z' fill='%23F1F1F1'/%3E%3C/svg%3E%0A");
        background-size: cover;
        background-position: center;
        background-size: 100%;
        display: inline-block;
    }
}

.footer_progress_container {
    display: flex;
    flex-direction: column;
    // align-items: stretch;
    // justify-content: space-between;
    flex: 1 1 auto;
    height: 40px;
}

.footer_progress_text {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
}

.bar_container {
    width: 100%;
    position: relative;
    overflow: hidden;
    // margin-top: 25px;
    // margin-bottom: -$author_height;
    border-radius: 0.5em;
    box-shadow: var(--shadow-inner_footer);
    height: 15px;

    // transform: translateY(0%);
}

.bar {
    background: linear-gradient(to top, var(--color_btn_primary), var(--color_text_blue_bright));
    position: absolute;
    bottom: 0;
    height: 100%;
    box-sizing: border-box;
    border-radius: inherit;
}


@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('../fonts/ProximaNova-Semibold.eot');
    src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Semibold.woff') format('woff'),
        url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}